In [ ]:
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
# 문제풀이
# 1. 변수 = 데이터 의 형태를 항상 생각해야 한다. 데이터는 변수에 넣어야해
# 삼성전자 주식 10주를 보유했을 때 금액은 곱하기 연산을 쓴다.
# 변수에 한글을 써도 되는데 왜 영어로 쓸까? 유지보스, 검색편의, 디버깅 어려움 등등

Samsung = 50000
Total = 50000 * 10
print(Total)

500000

In [ ]:
# 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

total = 298000000000000
today_price = 50000
PER = 15.79

print(total, type(total))
print(today_price, type(today_price))
print(PER, type(PER))

# 바인딩? 변수에 값을 연결하거나 할당하는 것
# print까지 꼭 같이 하자.
# 변수 설정이 귀찮다.

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
# 두 변수를 이용하여 아래와 같이 출력해보세요
# 실행 예: hello! python
s = "hello"
t = "python"

print(s+"! "+t)

# 1. end =""가 줄바꿈이지, 공백 없애는게 아니였음
# 2. 최대한 간단하게 만들 생각을 계속해야 할 것 같음

hello! python

In [ ]:
# 아래 코드의 실행 결과를 예상해보세요.
2 + 2 * 3

# 간단한 수학문제..

8

In [ ]:
# 아래 변수에 바인딩된 값의 타입을 판별해보세요.

a = "132"
print(type(a))


# 1. 왜 type()을 print()안에 또 넣는지 궁금했다.
# 2. print() 함수 안에 type()를 받아들일 수 있다는 것을 그냥 받아들이자

<class 'str'>

In [ ]:
#. 정수 100을 문자열 '100'으로 변환해보세요.
# 1. 숫자 사이에 "", '' 을 넣으면 되나? 

num = 100
num = "100"
print(type(num))
result = str(num) 
print(type(result))

#. 라고 생각했는데 다른 방법들이 또 있었다...
# 2. 첫번째는 str(num)을 변수로 재설정 두번째는 포매팅 f"{num} 사용
# 3. 굳이 이렇게까지 써야하나 싶다.

<class 'str'>
<class 'str'>

In [ ]:
#. 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

num1 = "15.79"
num2 = 15.79

print(type(num2))

# float() 함수도 있다는 것만 알아두자.

<class 'float'>

In [9]:
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
# 1. 문자열을 정수로 변환   2. 이전 3년도 타이핑 출력인가?

year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

# 문자열이더라도 str(), int()에 넣으면 형태가 변한다는 사실을 알았다.

2017
2018
2019

In [ ]:
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

월 = 48584
총금액 = 월 * 36
print(총금액)

# 문제를 너무 꼬아서 생각하는 습관도 버려야겠다.