In [ ]:
# 아래 코드의 실행 결과를 예상해보세요.

a = "3"
b = "4"
print(a + b)  # 쉬움

34

In [2]:
# 아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

HiHiHi

In [3]:
# 화면에 '-'를 80개 출력하세요.

print( "-" * 80)

--------------------------------------------------------------------------------

In [6]:
#변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
# python java python java python java python java
t1 = 'python'
t2 = 'java'

print( (t1 + ' ' + t2 + ' ') * 4 )

# 공백에 대해서 어떻게 처리해야 하는지 알게 되었다 . ' ' 사용
# 애매하면 변수를 새로 만드는 방법도 고민

python java python java python java python java

In [7]:
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [10]:
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

# 위의 여러가지 방법이 있었는데 사실 이게 제일 좋다

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"

price = 상장주식수.replace(",","")
new_type = int(price)
print(new_type)

# 컴마를 제거한다는 말에 또 꽂혀서 계속 고민함. 제거한다 = replace

5969782550

In [ ]:
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [ ]:
# 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
data1 = data.strip()
print(data1)

# strip strip 왜 strip이 공백제거일까
# 과일껍질을 벗기듯이 겉껍질을 벗겨낸다고 이해하자.

삼성전자